body {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, serif;
}
/*
  Main header with nav menu start
*/
 header {
    position: fixed;
    height: 170px;
    width: 100%;
    background-color: rgb(33, 33, 35);
    z-index: 2;
}
.banner {
    height: 80%;
    width: 100%;
}
.banner-text {
    height: 100%;
    float: left;
    margin-left: 40px;
}
.banner-text h1 {
    text-align: left;
    color: white;
    text-shadow: 5px 5px 5px #000000;
    margin: 0px;
    line-height: 140px;
}
.logo {
    z-index: 4;
    position: relative;
    float: left;
    height: 100%;
    top: 0px;
    left: 10px;
}
.logo-img {
    height: inherit;
}
/*
  Drop-down nav menu start
*/
 nav {
    z-index: 3;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
}
nav ul {
    height: 100%;
    list-style: none;
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
}
nav ul a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
}
nav ul li {
    position: relative;
    float: left;
    width: 120px;
    height: 100%;
    text-align: center;
    background: rgb(33, 33, 35);
    margin: 0px;
    padding: 0px;
}
nav ul li:hover {
    background: rgb(90, 42, 0);
    text-shadow: 5px 5px 5px #000000;
}
nav ul ul {
    display:none;
    position:absolute;
    top: 100%;
    left: 0px;
    background: rgb(33, 33, 35);
}
nav ul ul li {
    float:none;
}
nav ul ul a {
    line-height: 120%;
    padding: 10px;
}
nav ul ul ul {
    top: 0px;
    left: 100%
}
nav ul li:hover > ul {
    display: block;
    background: rgb(33, 33, 35);
}
/*
  Drop-down nav menu and main header end
  Content frame start
*/
 #content {
    position: fixed;
    top: 170px;
    width: 100%;
    height: calc(100vh - 170px);
}
#content iframe {
    border: none;
    height: inherit;
    width: inherit;
}
/*
  Content frame end
  Content styling start
  Content window without scrollbar start
*/
 .section {
    background-color: rgba(131, 142, 146, 0.9);
    color: black;
    width: 650px;
    height: 80%;
    padding: 50px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.scroll {
    overflow: auto;
    height: 100%;
}
.scroll::-webkit-scrollbar {
    display: none;
}
/*
  Content window without scrollbar end
*/
 strong {
    color: #FF3399;
}
/*
  For pages with earth-1.jpg as background start
*/
 .background-earth {
    width: 100%;
    height: calc(100vh);
    background-image: url("../images/earth-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.4;
}
/*
  earth-1.jpg background end
*/

/*
  Really sorry for how shitty this is. It works, but a much nicer looking implementation of responsive desing coded by myself can be viewed at the following site
  www.pristinecleaningservices.ca
*/
 .asBox {
    position: fixed;
    left: 0px;
    top: 180px;
    z-index: 30;
    padding: 20px;
}
#desktopBox {
    color: white;
    background: blue;
}
#tabletBox {
    color: black;
    background: yellow;
}
#mobileBox {
    color: white;
    background: red;
}
/* Desktop Browsers */
 @media only screen and (min-width: 1001px) {
    #desktopBox {
        display: block;
    }
    #tabletBox {
        display: none;
    }
    #mobileBox {
        display: none;
    }
}
/* Tablet Browsers */
 @media only screen and (min-width: 600px) and (max-width: 1000px) {
    #desktopBox {
        display: none;
    }
    #tabletBox {
        display: block;
    }
    #mobileBox {
        display: none;
    }
}
/* Phone Browsers */
 @media only screen and (max-width: 599px) {
    #desktopBox {
        display: none;
    }
    #tabletBox {
        display: none;
    }
    #mobileBox {
        display: block;
    }
}