@charset "UTF-8";
body {
	margin: 0px;
}
#box1 {
	width: 200px;
	height: 400px;
	background-color: yellow;
	padding: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: blue;
	margin: 20px;
	overflow: hidden;
	position: absolute;
	top: 100px;
	left: 50px;
}
.scroll {
	overflow: auto;
	height: 100%;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.header {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100px;
	background-color: blue;
}